# Pre-processed locale data output from Ldml2JsonConverter
cldr/

# test262 compiled python files
*.pyc

# Ignore test262 output
*.log

# d8 artifact
.d8_history

# NPM packages installed locally
node_modules
