# Identity contains some useful information
section=data ; path=//cldr/main/[^/]++/identity/.*

# Match all calendar data except those chunky interval patterns
section=data ; path=//cldr/main/[^/]++/dates/calendars/((?!interval).)*

# Time zones
section=data ; path=//cldr/main/[^/]++/dates/timeZoneNames/((?!Format).)*

# Number formatting sections, minus any cruft
section=data ; path=//cldr/main/[^/]++/numbers/symbols[^/]++/.*
section=data ; path=//cldr/main/[^/]++/numbers/decimalFormats[^/]++/((?!long|short).)*
section=data ; path=//cldr/main/[^/]++/numbers/decimalFormats[^/]++/((?!long|short).)*
section=data ; path=//cldr/main/[^/]++/numbers/currencyFormats[^/]++/((?!long|short).)*
section=data ; path=//cldr/main/[^/]++/numbers/percentFormats[^/]++/((?!long|short).)*

# Currency symbols only, don't need the full names of each currency thanks
section=data ; path=//cldr/main/[^/]++/numbers/currencies/[^/]++/symbol
